
/* Summary content */
#project-issue-summary-table {
  float: left;
}
#project-issue-summary-links {
  float: right;
}
#project-issue-summary-links li {
  background: none;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* Follow UI (via flag.module) */
/* Show the flag state normally, but switch to the action on hover/focus. */
a.flag span.flag-state,
a.flag:hover span.flag-action,
a.flag:focus span.flag-action {
  display: inline-block;
}

a.flag span.flag-action,
a.flag:hover span.flag-state,
a.flag:focus span.flag-state {
  display: none;
}

/* Viewing issue nodes */
.project-issue .header {
  font-weight: bold;
  padding-top: 0.5em;
}
.project-issue .summary table {
  border-collapse: collapse;
  width: auto;
  border: 1px;
  border-style: solid;
  border-color: #eee;
}
.project-issue .summary table td {
  color: #333;
  background-color: transparent;
  font-size: 90%;
  padding: 0em 1em;
  border: 0;
}
.project-issue tbody {
  border: 0;
}
.project-issue .summary table tr {
  border: 0;
}

/* Issue node and comment followup form UI */
.issue-settings {
  overflow: hidden;  /* Gets rid of ugly scrollbars on comments */
  clear: both;
}
.issue-settings .form-item {
  float: left;
  padding-right: 0.8em;
  margin-top: 0;
  margin-bottom: 0;
}

/* "My Projects" table UI */
table.projects {
  width: 100%;
  margin-bottom: 3em;
}
table.projects .project-name {
  width: 24%;
}
table.projects .project-issue-updated {
  width: 15%;
}
table.projects .project-issues {
  width: 11%;
  text-align: center;
}
table.projects .project-issue-links {
  width: 28%;
  padding-left: 0.4em;
  padding-right: 0.4em;
  text-align: center;

}
table.projects .project-project-links {
  width: 22%;
  text-align: center;
}
table.projects .project-project-links a {
  white-space:nowrap;
}

/* Issue query bar UI */
.project-issue .quick-search #edit-projects,
.project-issue .quick-search #edit-states {
  width: 150px;
}

/* Views based issue query bar UI */
.view-project-issues-project .form-item #edit-filter1,
.view-project-issues-project-search .form-item #edit-filter1, #edit-filter2{
  width:150px;
}

/* Views based issue advanced search filters */
.view-project-issues-project-search #views-filters {
  width: 100%;
  overflow: auto;
}

.project-issue .quick-search tr td .form-item,
.project-issue .quick-search tr td input {
  margin: 0;
  padding: 0;
}
.project-issue .quick-search tr td {
  vertical-align: bottom;
}

/* Issue links from the [#12345] filter. */
.project-issue-status-info a, .project-issue-status-info .project-issue-assigned-user {
  background-color: #cdcdcd;
  -moz-border-radius: 4px; /* Mozilla based browsers */
  -webkit-border-radius: 4px; /* Webkit based browsers */
  border-radius: 4px; /* CSS 3 standard */
  padding: 2px 4px;
}
.project-issue-status-info .project-issue-assigned-user {
  white-space: nowrap;
}

/* Coloring based on issue status (issue query results and [#12345] links). */
.field-issue-status-1,
.project-issue tr.state-1, .project-issue-status-1 a {
  background-color: #fff;
}
.project-issue tr.state-1 td.active {
  background-color: #e1e7eb;
}
.field-issue-status-2,
.project-issue tr.state-2, .project-issue-status-2 a {
  background-color: #c0ffc0;
}
.project-issue tr.state-2 td.active {
  background-color: #cec;
}
.field-issue-status-3,
.field-issue-status-4,
.field-issue-status-5,
.field-issue-status-6,
.project-issue tr.state-3, .project-issue-status-3 a,
.project-issue tr.state-4, .project-issue-status-4 a,
.project-issue tr.state-5, .project-issue-status-5 a,
.project-issue tr.state-6, .project-issue-status-6 a {
  background-color: #ddf;
}
.project-issue tr.state-3 td.active, .project-issue tr.state-4 td.active, .project-issue tr.state-5 td.active, .project-issue tr.state-6 td.active {
  background-color: #cce;
}
.field-issue-status-7,
.project-issue tr.state-7, .project-issue-status-7 a {
  background-color: #ffc9c9;
}
.project-issue tr.state-7 td.active {
  background-color: #eeb9b9;
}
.field-issue-status-8,
.project-issue tr.state-8, .project-issue-status-8 a {
  background-color: #ffd;
}
.project-issue tr.state-8 td.active {
  background-color: #eed;
}
.field-issue-status-13,
.project-issue tr.state-13, .project-issue-status-13 a {
  background-color: #ffe7dd;
}
.project-issue tr.state-13 td.active {
  background-color: #eed7cc;
}
.field-issue-status-14,
.project-issue tr.state-14, .project-issue-status-14 a {
  background-color: #e7ffdd;
}
.project-issue tr.state-14 td.active {
  background-color: #d7eecc;
}

/* Prevent extraordinarily long titles from breaking site layout. */
table.project-issue td.views-field-title {
  max-width: 200px;
  word-wrap: break-word;
}

/* Automatic issue links */
.project-issue-status-2,
.project-issue-status-3,
.project-issue-status-5,
.project-issue-status-6,
.project-issue-status-7 {
  text-decoration: line-through;
}

.wrapper-throbber {
  /*
    Apparently there's no safe way to do this in CSS, so this could
    be broken for sites that install in subdirectories.
  */
  background: url(/misc/throbber.gif) no-repeat right -18px;
  width: 20px;
  height: 18px;
  margin-top: 20px;
  float: left;
}

.update-link {
  width: 80%;
  margin: auto;
  padding-top: 1em;
}

a.issue-button,
a.issue-button:link,
a.issue-button:visited,
a.issue-button:active {
  color: #fff;
  background: #9fc748;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a.issue-button:hover,
a.issue-button:focus  {
  text-decoration: none;
  background: #8aaf3c;
  color: #fff;
}

/* Project Issue Jump Links */
#project-issue-jumplinks h3 {
  font-size: 100%;
  margin-bottom: 0;
  text-align: center;
}

#project-issue-jumplinks .item-list li {
  text-align: center;
}

#project-issue-jumplinks a {
  font-size: 90%;
}

.project-issue-sparkline,
.project-issue-sparkline div {
  display: inline;
}
